.App {
  text-align: center;
}

.cart-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #ccc;
  margin-left: 10%;
}

.img-wrapper {}

.img-wrapper img {
  width: 50px;
  margin-top: -8px;
}

.text-wrapper {}

.btn-wrapper {}

.btn-wrapper button {
  background-color: #f94a4ac2;
  border: none;
  border-radius: 17px;
  color: #fff;
  padding: 10px;
  box-shadow: 1px 1px 5px #000;
}

.item {
  float: left;
  width: 120px;
  padding: 20px;
  height: 70px;
}

.add-to-cart img {
  width: 50px;
  position: absolute;
  right: 1%;
  top: 1%;
}
